{% extends 'base.html' %} 

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="card-title">Quarterbacks por Equipo</h1>
            <canvas id="qbs_team" width="400" height="400" style="max-height: 500px;"></canvas>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Quarterbacks por Universidad</h1>
            <canvas id="qbs_college" width="400" height="400" style="max-height: 500px;"></canvas>
        </div>
    </div>
    
{% endblock %}

{%block scripts%}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script> 
        createChart("qbs_team", {{ data['teams']['label']|tojson}}, {{data['teams']['data']|tojson }});
        createChart("qbs_college", {{ data['college']['label']|tojson }}, {{ data['college']['data']|tojson }});
    </script>
{% endblock %}