{% extends 'base.html' %} 

{%block content%}
    {% if not data %}
    <h1>¡Ups! Parece que ese no es un ID válido</h1>
    {% else %}
    <div class="card mb-3 mx-auto">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{data['headshot_url']}}" class="img-fluid rounded-start" alt="Foto del jugador" width="100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title mb-4">{{data['name']}}</h3>
                    <ul class="list-group mb-3">
                        <li class="list-group-item"><b>Fecha de nacimiento:</b> {{data['birth_date']}}</li>
                        <li class="list-group-item"><b>Estatura:</b> {{data['height']}} cm</li>
                        <li class="list-group-item"><b>Peso:</b> {{data['weight']}} kg</li>
                        <li class="list-group-item"><b>Universidad:</b> <a href="{{url_for('routes.college_info', college_id=data['college_id'])}}">{{data['college_name']}}</a></li>
                    </ul>
                    <h5>Equipos:</h5>
                    <div class="row row-cols-4">
                        {% for team in data['teams'] %}
                        <div class="col">
                            <div class="card" style="max-width: 15rem;">
                                <img src="{{team['logo_url']}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{{url_for('routes.team_info', key=team['key'])}}">{{team['name']}}</a></h5>
                                    <p class="card-text">{{team['year']}}</p>
                                </div>
                              </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{%endblock%}
