{% extends 'base.html' %} 

{%block content%}
    <div class="row row-cols-4 my-5">
        {% for sb in data%}
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{url_for('routes.superbowl_info', edition=sb['edition'])}}">{{sb['roman']}}</a></h5>
                    <h6 class="card-text">{{sb['date']}}</h6>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
{%endblock%}
